USE [master]
GO
/****** Object:  Database [KrediBasvuruDB]    Script Date: 28.12.2025 00:26:39 ******/
CREATE DATABASE [KrediBasvuruDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KrediBasvuruDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KrediBasvuruDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KrediBasvuruDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KrediBasvuruDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KrediBasvuruDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KrediBasvuruDB]
GO
/****** Object:  Table [dbo].[BankaHesap]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankaHesap](
	[hesap_id] [int] IDENTITY(1,1) NOT NULL,
	[musteri_id] [int] NOT NULL,
	[hesap_no] [nvarchar](30) NULL,
	[bakiye] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[hesap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankaSubesi]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankaSubesi](
	[sube_id] [int] IDENTITY(1,1) NOT NULL,
	[sube_adi] [nvarchar](100) NULL,
	[il] [nvarchar](50) NULL,
	[ilce] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[sube_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasvuruDurumu]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasvuruDurumu](
	[durum_id] [int] IDENTITY(1,1) NOT NULL,
	[durum_adi] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[durum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasvuruOnay]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasvuruOnay](
	[onay_id] [int] IDENTITY(1,1) NOT NULL,
	[basvuru_id] [int] NOT NULL,
	[calisan_id] [int] NOT NULL,
	[onay_tarihi] [datetime] NULL,
	[onay_durumu] [nvarchar](20) NULL,
	[aciklama] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[onay_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bildirim]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bildirim](
	[bildirim_id] [int] IDENTITY(1,1) NOT NULL,
	[musteri_id] [int] NULL,
	[mesaj] [nvarchar](255) NULL,
	[kanal] [nvarchar](20) NULL,
	[tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[bildirim_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calisan]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calisan](
	[calisan_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[departman_id] [int] NULL,
	[sube_id] [int] NULL,
	[rol_id] [int] NULL,
	[pozisyon] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[calisan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CalisanRol]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalisanRol](
	[rol_id] [int] IDENTITY(1,1) NOT NULL,
	[rol_adi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departman]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departman](
	[departman_id] [int] IDENTITY(1,1) NOT NULL,
	[departman_adi] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[departman_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evraklar]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evraklar](
	[evrak_id] [int] IDENTITY(1,1) NOT NULL,
	[basvuru_id] [int] NOT NULL,
	[evrak_adi] [nvarchar](100) NULL,
	[evrak_yolu] [nvarchar](255) NULL,
	[upload_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[evrak_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KaraListe]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KaraListe](
	[liste_id] [int] IDENTITY(1,1) NOT NULL,
	[musteri_id] [int] NULL,
	[sebep] [nvarchar](255) NULL,
	[eklenme_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[liste_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KrediBasvuru]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KrediBasvuru](
	[basvuru_id] [int] IDENTITY(1,1) NOT NULL,
	[musteri_id] [int] NOT NULL,
	[kredi_tipi_id] [int] NOT NULL,
	[basvuru_tarihi] [datetime] NULL,
	[talep_edilen_tutar] [decimal](12, 2) NOT NULL,
	[durum_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[basvuru_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KrediSkor]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KrediSkor](
	[skor_id] [int] IDENTITY(1,1) NOT NULL,
	[musteri_id] [int] NOT NULL,
	[skor] [int] NOT NULL,
	[skor_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[skor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KrediTipi]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KrediTipi](
	[kredi_tipi_id] [int] IDENTITY(1,1) NOT NULL,
	[kredi_adi] [nvarchar](100) NOT NULL,
	[faiz_orani] [decimal](5, 2) NOT NULL,
	[max_tutar] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[kredi_tipi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogKayit]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogKayit](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[tablo_adi] [nvarchar](50) NULL,
	[islem] [nvarchar](50) NULL,
	[kullanici] [nvarchar](100) NULL,
	[tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[musteri_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[tc_kimlik] [nvarchar](11) NOT NULL,
	[telefon] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[adres] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[musteri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusteriGelir]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriGelir](
	[gelir_id] [int] IDENTITY(1,1) NOT NULL,
	[musteri_id] [int] NOT NULL,
	[aylik_gelir] [decimal](10, 2) NOT NULL,
	[meslek] [nvarchar](100) NULL,
	[calisma_durumu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[gelir_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OdemePlani]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OdemePlani](
	[plan_id] [int] IDENTITY(1,1) NOT NULL,
	[basvuru_id] [int] NOT NULL,
	[toplam_tutar] [decimal](12, 2) NULL,
	[taksit_sayisi] [int] NULL,
	[baslangic_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaksitOdeme]    Script Date: 28.12.2025 00:26:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaksitOdeme](
	[odeme_id] [int] IDENTITY(1,1) NOT NULL,
	[plan_id] [int] NOT NULL,
	[taksit_no] [int] NULL,
	[odeme_tarihi] [date] NULL,
	[tutar] [decimal](12, 2) NULL,
	[odendi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[odeme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BasvuruDurumu] ON 

INSERT [dbo].[BasvuruDurumu] ([durum_id], [durum_adi]) VALUES (1, N'Beklemede')
INSERT [dbo].[BasvuruDurumu] ([durum_id], [durum_adi]) VALUES (2, N'Onaylandı')
INSERT [dbo].[BasvuruDurumu] ([durum_id], [durum_adi]) VALUES (3, N'Reddedildi')
SET IDENTITY_INSERT [dbo].[BasvuruDurumu] OFF
GO
SET IDENTITY_INSERT [dbo].[Bildirim] ON 

INSERT [dbo].[Bildirim] ([bildirim_id], [musteri_id], [mesaj], [kanal], [tarih]) VALUES (1, 1, N'Kredi başvurunuz onaylanmıştır.', N'Sistem', CAST(N'2025-12-27T16:21:47.653' AS DateTime))
INSERT [dbo].[Bildirim] ([bildirim_id], [musteri_id], [mesaj], [kanal], [tarih]) VALUES (2, 1, N'Kredi başvurunuz onaylanmıştır.', N'Sistem', CAST(N'2025-12-27T16:22:43.540' AS DateTime))
INSERT [dbo].[Bildirim] ([bildirim_id], [musteri_id], [mesaj], [kanal], [tarih]) VALUES (3, 1, N'Kredi başvurunuz onaylanmıştır.', N'Sistem', CAST(N'2025-12-27T16:33:26.940' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bildirim] OFF
GO
SET IDENTITY_INSERT [dbo].[KrediBasvuru] ON 

INSERT [dbo].[KrediBasvuru] ([basvuru_id], [musteri_id], [kredi_tipi_id], [basvuru_tarihi], [talep_edilen_tutar], [durum_id]) VALUES (1, 1, 1, CAST(N'2025-12-27T16:03:09.600' AS DateTime), CAST(50000.00 AS Decimal(12, 2)), 2)
INSERT [dbo].[KrediBasvuru] ([basvuru_id], [musteri_id], [kredi_tipi_id], [basvuru_tarihi], [talep_edilen_tutar], [durum_id]) VALUES (2, 1, 1, CAST(N'2025-12-27T16:03:41.033' AS DateTime), CAST(50000.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[KrediBasvuru] ([basvuru_id], [musteri_id], [kredi_tipi_id], [basvuru_tarihi], [talep_edilen_tutar], [durum_id]) VALUES (3, 1, 1, CAST(N'2025-12-27T16:05:00.930' AS DateTime), CAST(50000.00 AS Decimal(12, 2)), 1)
SET IDENTITY_INSERT [dbo].[KrediBasvuru] OFF
GO
SET IDENTITY_INSERT [dbo].[KrediSkor] ON 

INSERT [dbo].[KrediSkor] ([skor_id], [musteri_id], [skor], [skor_tarihi]) VALUES (1, 1, 720, CAST(N'2025-12-27T16:03:09.590' AS DateTime))
INSERT [dbo].[KrediSkor] ([skor_id], [musteri_id], [skor], [skor_tarihi]) VALUES (2, 1, 720, CAST(N'2025-12-27T16:03:41.030' AS DateTime))
INSERT [dbo].[KrediSkor] ([skor_id], [musteri_id], [skor], [skor_tarihi]) VALUES (3, 1, 720, CAST(N'2025-12-27T16:05:00.930' AS DateTime))
SET IDENTITY_INSERT [dbo].[KrediSkor] OFF
GO
SET IDENTITY_INSERT [dbo].[KrediTipi] ON 

INSERT [dbo].[KrediTipi] ([kredi_tipi_id], [kredi_adi], [faiz_orani], [max_tutar]) VALUES (1, N'İhtiyaç Kredisi', CAST(1.89 AS Decimal(5, 2)), CAST(100000.00 AS Decimal(12, 2)))
INSERT [dbo].[KrediTipi] ([kredi_tipi_id], [kredi_adi], [faiz_orani], [max_tutar]) VALUES (2, N'İhtiyaç Kredisi', CAST(1.89 AS Decimal(5, 2)), CAST(100000.00 AS Decimal(12, 2)))
INSERT [dbo].[KrediTipi] ([kredi_tipi_id], [kredi_adi], [faiz_orani], [max_tutar]) VALUES (3, N'İhtiyaç Kredisi', CAST(1.89 AS Decimal(5, 2)), CAST(100000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[KrediTipi] OFF
GO
SET IDENTITY_INSERT [dbo].[LogKayit] ON 

INSERT [dbo].[LogKayit] ([log_id], [tablo_adi], [islem], [kullanici], [tarih]) VALUES (1, N'KrediBasvuru', N'Durum Güncellendi', N'sa', CAST(N'2025-12-27T16:21:47.653' AS DateTime))
INSERT [dbo].[LogKayit] ([log_id], [tablo_adi], [islem], [kullanici], [tarih]) VALUES (2, N'KrediBasvuru', N'Durum Güncellendi', N'sa', CAST(N'2025-12-27T16:22:43.540' AS DateTime))
INSERT [dbo].[LogKayit] ([log_id], [tablo_adi], [islem], [kullanici], [tarih]) VALUES (3, N'KrediBasvuru', N'Durum Güncellendi', N'sa', CAST(N'2025-12-27T16:33:26.940' AS DateTime))
SET IDENTITY_INSERT [dbo].[LogKayit] OFF
GO
SET IDENTITY_INSERT [dbo].[Musteri] ON 

INSERT [dbo].[Musteri] ([musteri_id], [ad], [soyad], [tc_kimlik], [telefon], [email], [adres], [created_at]) VALUES (1, N'Ahmet', N'Yılmaz', N'12345678901', N'05551234567', N'ahmet@yilmaz.com', N'İstanbul', CAST(N'2025-12-27T16:03:09.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[Musteri] OFF
GO
SET IDENTITY_INSERT [dbo].[MusteriGelir] ON 

INSERT [dbo].[MusteriGelir] ([gelir_id], [musteri_id], [aylik_gelir], [meslek], [calisma_durumu]) VALUES (1, 1, CAST(45000.00 AS Decimal(10, 2)), N'Mühendis', N'Çalışıyor')
INSERT [dbo].[MusteriGelir] ([gelir_id], [musteri_id], [aylik_gelir], [meslek], [calisma_durumu]) VALUES (2, 1, CAST(45000.00 AS Decimal(10, 2)), N'Mühendis', N'Çalışıyor')
INSERT [dbo].[MusteriGelir] ([gelir_id], [musteri_id], [aylik_gelir], [meslek], [calisma_durumu]) VALUES (3, 1, CAST(45000.00 AS Decimal(10, 2)), N'Mühendis', N'Çalışıyor')
SET IDENTITY_INSERT [dbo].[MusteriGelir] OFF
GO
SET IDENTITY_INSERT [dbo].[OdemePlani] ON 

INSERT [dbo].[OdemePlani] ([plan_id], [basvuru_id], [toplam_tutar], [taksit_sayisi], [baslangic_tarihi]) VALUES (1, 1, CAST(60000.00 AS Decimal(12, 2)), 12, CAST(N'2025-12-27' AS Date))
INSERT [dbo].[OdemePlani] ([plan_id], [basvuru_id], [toplam_tutar], [taksit_sayisi], [baslangic_tarihi]) VALUES (2, 1, CAST(60000.00 AS Decimal(12, 2)), 12, CAST(N'2025-12-27' AS Date))
SET IDENTITY_INSERT [dbo].[OdemePlani] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BankaHes__18A3F212102FC4B2]    Script Date: 28.12.2025 00:26:40 ******/
ALTER TABLE [dbo].[BankaHesap] ADD UNIQUE NONCLUSTERED 
(
	[hesap_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__KaraList__966D46E34ACE03A1]    Script Date: 28.12.2025 00:26:40 ******/
ALTER TABLE [dbo].[KaraListe] ADD UNIQUE NONCLUSTERED 
(
	[musteri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Musteri__73E4718FAA9BF2F0]    Script Date: 28.12.2025 00:26:40 ******/
ALTER TABLE [dbo].[Musteri] ADD UNIQUE NONCLUSTERED 
(
	[tc_kimlik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BankaHesap] ADD  DEFAULT ((0)) FOR [bakiye]
GO
ALTER TABLE [dbo].[BasvuruOnay] ADD  DEFAULT (getdate()) FOR [onay_tarihi]
GO
ALTER TABLE [dbo].[Bildirim] ADD  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[Evraklar] ADD  DEFAULT (getdate()) FOR [upload_tarihi]
GO
ALTER TABLE [dbo].[KaraListe] ADD  DEFAULT (getdate()) FOR [eklenme_tarihi]
GO
ALTER TABLE [dbo].[KrediBasvuru] ADD  DEFAULT (getdate()) FOR [basvuru_tarihi]
GO
ALTER TABLE [dbo].[KrediBasvuru] ADD  DEFAULT ((1)) FOR [durum_id]
GO
ALTER TABLE [dbo].[KrediSkor] ADD  DEFAULT (getdate()) FOR [skor_tarihi]
GO
ALTER TABLE [dbo].[LogKayit] ADD  DEFAULT (getdate()) FOR [tarih]
GO
ALTER TABLE [dbo].[Musteri] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TaksitOdeme] ADD  DEFAULT ((0)) FOR [odendi]
GO
ALTER TABLE [dbo].[BankaHesap]  WITH CHECK ADD FOREIGN KEY([musteri_id])
REFERENCES [dbo].[Musteri] ([musteri_id])
GO
ALTER TABLE [dbo].[BasvuruOnay]  WITH CHECK ADD FOREIGN KEY([basvuru_id])
REFERENCES [dbo].[KrediBasvuru] ([basvuru_id])
GO
ALTER TABLE [dbo].[BasvuruOnay]  WITH CHECK ADD FOREIGN KEY([calisan_id])
REFERENCES [dbo].[Calisan] ([calisan_id])
GO
ALTER TABLE [dbo].[Bildirim]  WITH CHECK ADD FOREIGN KEY([musteri_id])
REFERENCES [dbo].[Musteri] ([musteri_id])
GO
ALTER TABLE [dbo].[Calisan]  WITH CHECK ADD FOREIGN KEY([departman_id])
REFERENCES [dbo].[Departman] ([departman_id])
GO
ALTER TABLE [dbo].[Calisan]  WITH CHECK ADD FOREIGN KEY([rol_id])
REFERENCES [dbo].[CalisanRol] ([rol_id])
GO
ALTER TABLE [dbo].[Calisan]  WITH CHECK ADD FOREIGN KEY([sube_id])
REFERENCES [dbo].[BankaSubesi] ([sube_id])
GO
ALTER TABLE [dbo].[Evraklar]  WITH CHECK ADD FOREIGN KEY([basvuru_id])
REFERENCES [dbo].[KrediBasvuru] ([basvuru_id])
GO
ALTER TABLE [dbo].[KaraListe]  WITH CHECK ADD FOREIGN KEY([musteri_id])
REFERENCES [dbo].[Musteri] ([musteri_id])
GO
ALTER TABLE [dbo].[KrediBasvuru]  WITH CHECK ADD FOREIGN KEY([durum_id])
REFERENCES [dbo].[BasvuruDurumu] ([durum_id])
GO
ALTER TABLE [dbo].[KrediBasvuru]  WITH CHECK ADD FOREIGN KEY([kredi_tipi_id])
REFERENCES [dbo].[KrediTipi] ([kredi_tipi_id])
GO
ALTER TABLE [dbo].[KrediBasvuru]  WITH CHECK ADD FOREIGN KEY([musteri_id])
REFERENCES [dbo].[Musteri] ([musteri_id])
GO
ALTER TABLE [dbo].[KrediSkor]  WITH CHECK ADD FOREIGN KEY([musteri_id])
REFERENCES [dbo].[Musteri] ([musteri_id])
GO
ALTER TABLE [dbo].[MusteriGelir]  WITH CHECK ADD FOREIGN KEY([musteri_id])
REFERENCES [dbo].[Musteri] ([musteri_id])
GO
ALTER TABLE [dbo].[OdemePlani]  WITH CHECK ADD FOREIGN KEY([basvuru_id])
REFERENCES [dbo].[KrediBasvuru] ([basvuru_id])
GO
ALTER TABLE [dbo].[TaksitOdeme]  WITH CHECK ADD FOREIGN KEY([plan_id])
REFERENCES [dbo].[OdemePlani] ([plan_id])
GO
/****** Object:  StoredProcedure [dbo].[sp_KrediBasvuruDegerlendir]    Script Date: 28.12.2025 00:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_KrediBasvuruDegerlendir]
    @basvuru_id INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @musteri_id INT,
        @kredi_tipi_id INT,
        @talep_tutar DECIMAL(12,2),
        @max_tutar DECIMAL(12,2),
        @aylik_gelir DECIMAL(10,2),
        @skor INT,
        @kara_listede BIT = 0;

    SELECT 
        @musteri_id = musteri_id,
        @kredi_tipi_id = kredi_tipi_id,
        @talep_tutar = talep_edilen_tutar
    FROM KrediBasvuru
    WHERE basvuru_id = @basvuru_id;

    IF EXISTS (SELECT 1 FROM KaraListe WHERE musteri_id = @musteri_id)
        SET @kara_listede = 1;

    SELECT @max_tutar = max_tutar
    FROM KrediTipi
    WHERE kredi_tipi_id = @kredi_tipi_id;

    SELECT @aylik_gelir = aylik_gelir
    FROM MusteriGelir
    WHERE musteri_id = @musteri_id;

    SELECT TOP 1 @skor = skor
    FROM KrediSkor
    WHERE musteri_id = @musteri_id
    ORDER BY skor_tarihi DESC;

    IF (@kara_listede = 1)
        OR (@skor < 650)
        OR (@talep_tutar > @max_tutar)
        OR (@aylik_gelir < (@talep_tutar / 24))
    BEGIN
        UPDATE KrediBasvuru
        SET durum_id = 3   -- Reddedildi
        WHERE basvuru_id = @basvuru_id;
    END
    ELSE
    BEGIN
        UPDATE KrediBasvuru
        SET durum_id = 2   -- Onaylandı
        WHERE basvuru_id = @basvuru_id;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KrediiBasvuruDegerlendir]    Script Date: 28.12.2025 00:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KrediiBasvuruDegerlendir]
    @basvuru_id INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @musteri_id INT,
        @kredi_tipi_id INT,
        @talep_tutar DECIMAL(12,2),
        @max_tutar DECIMAL(12,2),
        @aylik_gelir DECIMAL(10,2),
        @skor INT,
        @kara_listede BIT = 0;

    /* Başvuru bilgileri alınır */
    SELECT 
        @musteri_id = musteri_id,
        @kredi_tipi_id = kredi_tipi_id,
        @talep_tutar = talep_edilen_tutar
    FROM KrediBasvuru
    WHERE basvuru_id = @basvuru_id;

    /* Kara liste kontrolü */
    IF EXISTS (SELECT 1 FROM KaraListe WHERE musteri_id = @musteri_id)
        SET @kara_listede = 1;

    /* Kredi tipi maksimum tutar */
    SELECT @max_tutar = max_tutar
    FROM KrediTipi
    WHERE kredi_tipi_id = @kredi_tipi_id;

    /* Müşteri gelir bilgisi */
    SELECT @aylik_gelir = aylik_gelir
    FROM MusteriGelir
    WHERE musteri_id = @musteri_id;

    /* Kredi skoru */
    SELECT TOP 1 @skor = skor
    FROM KrediSkor
    WHERE musteri_id = @musteri_id
    ORDER BY skor_tarihi DESC;

    /* Değerlendirme */
    IF (@kara_listede = 1)
        OR (@skor < 650)
        OR (@talep_tutar > @max_tutar)
        OR (@aylik_gelir < (@talep_tutar / 24))
    BEGIN
        UPDATE KrediBasvuru
        SET durum_id = 3   -- Reddedildi
        WHERE basvuru_id = @basvuru_id;
    END
    ELSE
    BEGIN
        UPDATE KrediBasvuru
        SET durum_id = 2   -- Onaylandı
        WHERE basvuru_id = @basvuru_id;
    END
END;
GO
USE [master]
GO
